@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@900&display=swap");
ul {
  transform: translate(-50%, -50%);
  display: flex;
  overflow: hidden;
  padding: 0;
  background-color: bisque;
}
ul li {
  list-style: none;
  width: 200px;
  border-radius: 10%;
}
ul li a {
  display: block;
  padding: 5px;
  text-align: center;
  color: black;
  transition: 0.5s;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
}

.slide {
  position: absolute;
  width: 200px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #E0B179;
  z-index: -1;
  transition: 0.5s;
  opacity: 0;
  border-radius: 10%;
}

ul li.active a {
  color: #262626;
}

ul li:nth-child(1).active ~ .slide {
  left: 0;
  opacity: 1;
}

ul li:nth-child(2).active ~ .slide {
  left: 200px;
  opacity: 1;
}

ul li:nth-child(3).active ~ .slide {
  left: 400px;
  opacity: 1;
}

@font-face {
  font-family: Pufony;
  src: url(../files/Pufony-1.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  font-size: 1.5vh;
  font-family: "Press Start 2P", cursive;
  background-color: bisque;
}

body {
  min-width: 41vw;
  width: 100%;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

header,
footer {
  width: inherit;
  min-width: inherit;
  background-color: #E0B179;
}
header nav,
footer nav {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header h1,
footer h1 {
  font-size: 4.3vh;
  letter-spacing: 0.5vh;
}

header {
  top: 0;
}

footer {
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 15vh;
  padding: 2.2vh;
  justify-content: space-between;
}
footer .autor {
  display: flex;
  padding: 2.2vh 0vh 0vh 0vh;
  font-size: 2.7vh;
  color: black;
  text-decoration: none;
  font-family: Pufony;
}
footer .autor b {
  text-align: center;
}
footer .autor:hover {
  font-size: 3vh;
  transition: all 0.4s ease;
}
footer .lang-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1217px) and (max-width: 4000px) {
  footer .lang-buttons {
    width: 17vw;
  }
}
footer .eng-btn,
footer .ch-btn,
footer .ru-btn {
  color: #000000;
  text-decoration: none;
  padding: 1vh;
  background-color: #ffe4c4;
  border-radius: 10%;
  border-color: #000000;
  border: 2px solid black;
  box-shadow: 0px 1px 2px black;
}
footer .ch-btn {
  font-family: "Noto Sans SC", sans-serif;
}
footer .eng-btn:hover,
footer .ch-btn:hover,
footer .ru-btn:hover {
  background-color: #E0B179;
}
footer .eng-btn:active,
footer .ch-btn:active,
footer .ru-btn:active {
  background-color: #A87B45;
}

main {
  flex-grow: 1;
  padding: 2.1vh;
  min-height: 75vh;
}
main .main-header {
  max-width: 39vw;
  margin: auto;
  justify-content: center;
}
main .main-header .notice {
  display: flex;
  justify-content: center;
  margin-top: 4.3vh;
}
@media (min-width: 320px) and (max-width: 850px) {
  main .main-header .notice {
    margin-top: 2.3vh;
    margin-bottom: 2vh;
  }
}
main .welcome_text {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2.1vh;
  border: #000000 2px solid;
  border-radius: 2%;
  box-shadow: 0px 1px 3px black;
  line-height: 4.2vh;
}
main .the_start_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 22vh;
  line-height: 2.2vh;
}
main .the_start_button .start_btn {
  text-align: center;
  padding: 3.2vh 2.1vh;
  margin-top: 5.3vh;
  background-color: #E0B179;
  border: #000000 2px solid;
  border-radius: 2%;
  box-shadow: 0px 1px 3px black;
  text-decoration: none;
  color: black;
  font-size: 2vh;
  text-transform: uppercase;
}
main .the_start_button .start_btn:hover {
  font-size: 2.1vh;
  transition: all 0.4s ease;
}
main .the_start_button .start_btn:active {
  background-color: #765C3D;
}
main .enemies {
  display: flex;
  margin-bottom: 6%;
  align-items: center;
  justify-content: space-around;
}
main .enemies .enemy_muf_gif,
main .enemies .enemy_mil_gif {
  width: 160px;
  height: 160px;
}
main .enemies .enemy_mul_gif {
  width: 200px;
  height: 200px;
}
@media (min-width: 441px) and (max-width: 500px) {
  main .enemies .enemy_muf_gif,
main .enemies .enemy_mil_gif {
    width: 140px;
    height: 140px;
  }
  main .enemies .enemy_mul_gif {
    width: 180px;
    height: 180px;
  }
}
@media (min-width: 385px) and (max-width: 440px) {
  main .enemies .enemy_muf_gif,
main .enemies .enemy_mil_gif {
    width: 120px;
    height: 120px;
  }
  main .enemies .enemy_mul_gif {
    width: 160px;
    height: 160px;
  }
}
@media (min-width: 320px) and (max-width: 384px) {
  main .enemies .enemy_muf_gif,
main .enemies .enemy_mil_gif {
    width: 100px;
    height: 100px;
  }
  main .enemies .enemy_mul_gif {
    width: 140px;
    height: 140px;
  }
}/*# sourceMappingURL=style_front_ch.css.map */