@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@900&display=swap");
ul {
  transform: translate(-50%, -50%);
  display: flex;
  overflow: hidden;
  padding: 0;
  background-color: bisque;
}
ul li {
  list-style: none;
  width: 200px;
  border-radius: 10%;
}
ul li a {
  display: block;
  padding: 5px;
  text-align: center;
  color: black;
  transition: 0.5s;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
}

.slide {
  position: absolute;
  width: 200px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #E0B179;
  z-index: -1;
  transition: 0.5s;
  opacity: 0;
  border-radius: 10%;
}

ul li.active a {
  color: #262626;
}

ul li:nth-child(1).active ~ .slide {
  left: 0;
  opacity: 1;
}

ul li:nth-child(2).active ~ .slide {
  left: 200px;
  opacity: 1;
}

ul li:nth-child(3).active ~ .slide {
  left: 400px;
  opacity: 1;
}

@font-face {
  font-family: Pufony;
  src: url(../files/Pufony-1.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  font-size: 14px;
  font-family: "Press Start 2P", cursive;
  background-color: bisque;
}

body {
  min-width: 800px;
  width: 100%;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

header,
footer {
  width: inherit;
  min-width: inherit;
  padding: 1rem;
  background-color: #E0B179;
}
header nav,
footer nav {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1,
footer h1 {
  font-size: 40px;
  letter-spacing: 5px;
}

header {
  top: 0;
}

footer {
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 133.86px;
}
footer .autor {
  display: flex;
  padding: 20px;
  font-size: 1.6em;
  color: black;
  text-decoration: none;
  font-family: Pufony;
}
footer .autor b {
  text-align: center;
}
footer .autor:hover {
  font-size: 1.8em;
  transition: all 0.4s ease;
}
footer .lang-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 330px;
}
footer .eng-btn,
footer .ch-btn,
footer .ru-btn {
  color: #000000;
  text-decoration: none;
  padding: 10px;
  background-color: #ffe4c4;
  border-radius: 10%;
  border-color: #000000;
  border: 2px solid black;
  box-shadow: 0px 1px 2px black;
}
footer .ch-btn {
  font-family: "Noto Sans SC", sans-serif;
}
footer .eng-btn:hover,
footer .ch-btn:hover,
footer .ru-btn:hover {
  background-color: #E0B179;
}
footer .eng-btn:active,
footer .ch-btn:active,
footer .ru-btn:active {
  background-color: #A87B45;
}

main {
  flex-grow: 1;
  padding: 2rem;
}
main .main-header {
  max-width: 750px;
  margin: auto;
  justify-content: center;
}
main .main-header .notice {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 18px;
}
main .welcome_text {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  border: #000000 2px solid;
  border-radius: 2%;
  box-shadow: 0px 1px 3px black;
  line-height: 40px;
  font-size: 18px;
}
main .the_start_button {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .the_start_button .start_btn {
  text-align: center;
  padding: 30px 20px;
  margin-top: 50px;
  background-color: #E0B179;
  border: #000000 2px solid;
  border-radius: 2%;
  box-shadow: 0px 1px 3px black;
  text-decoration: none;
  color: black;
  font-size: 18px;
  text-transform: uppercase;
}
main .the_start_button .start_btn:hover {
  font-size: 20px;
  transition: all 0.4s ease;
}
main .the_start_button .start_btn:active {
  background-color: #765C3D;
}
main .enemies {
  display: flex;
  margin-bottom: 6%;
  align-items: center;
  justify-content: space-around;
}
main .enemies .enemy_muf {
  background-image: url(../img/Muffin-Boss.png);
  background-repeat: no-repeat;
  width: 160px;
  height: 160px;
}
main .enemies .enemy_muf:hover {
  background-image: url(../img/Muffin-Boss-Angry.png);
  transition: all 0.3s ease;
}
main .enemies .enemy_mul {
  background-image: url(../img/Multiplayer.png);
  background-repeat: no-repeat;
  width: 160px;
  height: 160px;
}
main .enemies .enemy_mul:hover {
  background-image: url(../img/Multiplayer-Sparkle.png);
  transition: all 0.3s ease;
}
main .enemies .enemy_mil {
  background-image: url(../img/Milky.png);
  background-repeat: no-repeat;
  width: 160px;
  height: 160px;
}
main .enemies .enemy_mil:hover {
  background-image: url(../img/Milky-Shy.png);
  transition: all 0.3s ease;
}/*# sourceMappingURL=style_front_ch.css.map */