@import "./scss/buttons.scss";
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@900&display=swap');

@font-face {
	font-family: Pufony;
	src: url(../files/Pufony-1.otf);
}


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

html{
	font-size: 1.5vh;
	font-family: 'Press Start 2P', cursive;
	background-color: bisque;
}

.ch_lng{
	font-family: 'Noto Sans SC', sans-serif;
}

.ch_size1{
	font-size: 2vh;
}

body{
	min-width: 41vw;
	width: 100%;
	margin: auto;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

header,
footer{
	width: inherit;
	min-width: inherit;
	background-color: #E0B179;


	nav{
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;

	}

		h1{
			font-size: 4.3vh;
			letter-spacing: 0.5vh;
		}
}

header{
	top: 0;
}

footer{
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	// max-height: 133.86px;
	padding: 2.2vh;

	.autor{
		display: flex;
		padding: 2.2vh 0vh 0vh 0vh;
		font-size: 2.7vh;
		color: black;
		text-decoration: none;
		font-family: Pufony;
		
		b{
			text-align: center;
		}
	}
	
	.autor:hover{
		font-size: 3vh;
		transition: all 0.4s ease;
	}

	.lang-buttons{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	@media (min-width: 1217px) and (max-width: 4000px){
		.lang-buttons{
		width: 17vw;
		}
	}
	
	.eng-btn,
	.ch-btn,
	.ru-btn{
		color: #000000;
		text-decoration: none;
		padding: 1vh;
		background-color: #ffe4c4;
		border-radius: 10%;
		border-color: #000000;
		border: 2px solid black;
		box-shadow: 0px 1px 2px rgba($color: #000000, $alpha: 1.0);
		margin-left: 0.5vw;
		margin-right: 0.5vw;
	}

	.ch-btn{
		font-family: 'Noto Sans SC', sans-serif;
	}

	.eng-btn:hover,
	.ch-btn:hover,
	.ru-btn:hover{
		background-color: #E0B179;
	}

	.eng-btn:active,
	.ch-btn:active,
	.ru-btn:active{
		background-color: #A87B45;
	}
}

main{
	flex-grow: 1;
	padding: 2.1vh;
	min-height: 76vh;


	.main-header{
		max-width: 39vw;
		margin: auto;
		justify-content: center;
		background-color: #ffe4c4;
		background-image: url(../img/BB-Background.png);
		background-repeat: no-repeat;
	}

	.enemies{
		display: flex;
		margin-bottom: 6%;
		align-items: center;
		justify-content: center;
		

		.enemy{
			background-image: url(../img/Muffin-Boss-Long.gif);
			background-repeat: no-repeat;
			background-size: contain;
			width: 180px;
			height: 180px;

		}
		.enemy-text{
			margin-left: 3.2vh;
			text-align: center;

			h2{
				margin-bottom: 1vh;
			}
			p{
				line-height:  2.7vh;
			}			
		}
	}

	.area-wrapper{
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 6%;

		#area{
			width: 32vh;
			height: 32vh;
			display: flex;
			flex-wrap: wrap;

			.box{
				width: 10.6vh;
				height: 10.6vh;
				background-color: blanchedalmond;
				border: 2px solid black;
				box-sizing: border-box;
				font-size: 3.6vh;
				color: black;
				display: flex;
				justify-content: center;
				align-items: center;
				font-weight: bold;
				cursor: pointer;
				transition: all 0.4s ease;
				border-radius: 5%;
				border-color: #42231e;
				border-width: 3px;
				box-shadow: 0px 1px 5px rgba($color: #000000, $alpha: 1.0);

				

			}
			
			.box:hover{
				background-color: #E0B179;
			}
			
			.box:active{
				background-color: #765C3D;
			 }
		}

	}
}

.thebuttons{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 31.25vw;
	margin-left: 40vh;
	margin-top: 11.2vh;
}

#modal-result-wrapper{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;

	#overlay{
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0,0,0,0.8);
	    

	    #modal-window{
		width: 300px;
		height: 180px;
		border: 3px solid black;
		background-color: bisque;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		align-items: center;
		font-size: 30px;
		box-shadow: 0px 1px 5px rgba($color: #000000, $alpha: 1.0);

	    

			#content{
				justify-content: center;
				align-items: center;
				text-align: center;
				width: 300px;
				height: 70px;
				padding: 1rem;
				font-size: 20px;
				line-height: 25px;

			}

			#btn-close{
				width: 300px;
				height: 80px;
				background-color: #A87B45;
				color: black;
				cursor: pointer;
				font-size: 30px;
				border: 3px solid black; 
				padding: 1rem;
				font-size: 20px;
				justify-content: center;
				align-items: center;
				text-align: center;
			}
		}
	}
}