@import "./scss/window";
@import "./scss/buttons.scss";

@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 14px;
	font-family: 'Press Start 2P', cursive;
	background-color: bisque;
}

body{
	min-width: 800px;
	width: 100%;
	margin: auto;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

header,
footer{
	width: inherit;
	min-width: inherit;
	padding: 1rem;
	background-color: #E0B179;

	nav{
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;

	}

		h1{
			font-size: 40px;
			letter-spacing: 5px;
		}
}

header{
	top: 0;
}

footer{
	bottom: 0;
	height: 100px;
}

main{
	flex-grow: 1;
	padding: 3rem;

	.main-header{
		max-width: 750px;
		margin: auto;
		justify-content: center;
		background-color: #ffe4c4;
		background-image: url(img/BB-Background.png);
		background-repeat: no-repeat;
	}

	.enemies{
		display: flex;
		margin-bottom: 6%;
		align-items: center;
		justify-content: center;
		

		.enemy{
			background-image: url(img/Muffin-Boss.png);
			background-repeat: no-repeat;
			width: 160px;
			height: 160px;
		}

		.enemy:hover{
			background-image: url(img/Muffin-Boss-Angry.png);
			transition: all 0.3s ease;
		}

		.enemy-text{
			margin-left: 30px;
			text-align: center;

			h2{
				margin-bottom: 10px;
			}
			p{
				line-height: 25px;
			}			
		}
	}

	.area-wrapper{
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 6%;

		#area{
			width: 300px;
			height: 300px;
			display: flex;
			flex-wrap: wrap;

			.box{
				width: 100px;
				height: 100px;
				background-color: blanchedalmond;
				border: 2px solid black;
				box-sizing: border-box;
				font-size: 34px;
				color: black;
				display: flex;
				justify-content: center;
				align-items: center;
				font-weight: bold;
				cursor: pointer;
				transition: all 0.4s ease;
				border-radius: 5%;
				border-color: #42231e;
				border-width: 3px;
				box-shadow: 0px 1px 5px rgba($color: #000000, $alpha: 1.0);

				

			}
			
			.box:hover{
				background-color: #E0B179;
			}
			
			.box:active{
				background-color: #765C3D;
			 }
		}

	}
}

.thebuttons{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 600px;
	margin-left: 375px;
	margin-top: 70px;
}

.switchers{
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 5rem;
	max-width: 750px;

	.lang-menu{
		position: relative;

		.selected-lang{
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 205px;
			cursor: pointer;
			padding: 15px;
	
		}
	
		.selected-lang:before{
			content: '';
			display: block;
			width: 49px;
			height: 32px;
			background-image: url(./img/England2.png);
			border-radius: 5%;
		}

		ul{
			flex-direction: column;
			position: absolute;
			bottom: -25px;
			left: 105px;
			margin: 0;
			padding: 0px;
			border: 2px solid black;
			border-radius: 5%;
			box-shadow: 0px 1px 5px rgba($color: #000000, $alpha: 1.0);
			display: none;

	
			li{
				text-decoration: none;
				list-style: none;
				display: flex;
				justify-content: space-between;
				cursor: pointer;
	
				a{
					width: 140px;
					display: block;
					padding: 10px 10px;
					width: 100%;
					font-size: 1.17em;
				}
	
				a:hover{
					background-color: #E0B179;
					transition: all 0.4s ease;
	
				}
	
				a:before{
					content: '';
				display: inline-block;
				vertical-align: middle;
				margin-right: 6px;
				width: 49px;
				height: 32px;
				background-image: url(./img/England2.png);
				border-radius: 5%;
				}
	
				.ru:before{
					background-image: url(./img/Flag_of_the_Russian_Empire2.png);
				}
	
				.ch:before{
					background-image: url(./img/Flag_of_China2.png);
				}
	
				.en:before{
					background-image: url(./img/England2.png);
				}

				.ch{
					font-family: 'Noto Sans SC', black;
					font-size: 20px;
				}
			}
		}
	
	}

	.lang-menu:hover ul{
		display: block;
	}

	.sound{
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 160px;
			cursor: pointer;
			padding: 15px;


		.sound-img:before{
			content: '';
			display: block;
			width: 49px;
			height: 32px;
			background-image: url(./img/sound-on.png);
			border-radius: 5%;
		}

	}
	
	
	
}

