@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@900&display=swap");
#modal-result-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
#modal-result-wrapper #overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
#modal-result-wrapper #overlay #modal-window {
  width: 300px;
  height: 80px;
  border: 3px solid black;
  background-color: bisque;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  box-shadow: 0px 1px 5px black;
}
#modal-result-wrapper #overlay #modal-window #content {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
  height: 70px;
  padding: 1rem;
  font-size: 20px;
  line-height: 25px;
}
#modal-result-wrapper #overlay #modal-window #btn-close {
  width: 300px;
  height: 80px;
  background-color: #A87B45;
  color: black;
  cursor: pointer;
  font-size: 30px;
  border: 3px solid black;
  padding: 1rem;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

ul {
  transform: translate(-50%, -50%);
  display: flex;
  overflow: hidden;
  padding: 0;
  background-color: bisque;
}
ul li {
  list-style: none;
  width: 200px;
  border-radius: 20%;
}
ul li a {
  display: block;
  padding: 5px;
  text-align: center;
  color: black;
  transition: 0.5s;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
}

.slide {
  position: absolute;
  width: 200px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #E0B179;
  z-index: -1;
  transition: 0.5s;
  opacity: 0;
  border-radius: 20%;
}

ul li.active a {
  color: #262626;
}

ul li:nth-child(1).active ~ .slide {
  left: 0;
  opacity: 1;
}

ul li:nth-child(2).active ~ .slide {
  left: 200px;
  opacity: 1;
}

ul li:nth-child(3).active ~ .slide {
  left: 400px;
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: "Press Start 2P", cursive;
  background-color: bisque;
}

body {
  min-width: 800px;
  width: 100%;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

header,
footer {
  width: inherit;
  min-width: inherit;
  padding: 1rem;
  background-color: #E0B179;
}
header nav,
footer nav {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1,
footer h1 {
  font-size: 40px;
  letter-spacing: 5px;
}

header {
  top: 0;
}

footer {
  bottom: 0;
  height: 100px;
}

main {
  flex-grow: 1;
  padding: 3rem;
}
main .main-header {
  max-width: 750px;
  margin: auto;
  justify-content: center;
  background-color: #ffe4c4;
  background-image: url(img/BB-Background.png);
  background-repeat: no-repeat;
}
main .enemies {
  display: flex;
  margin-bottom: 6%;
  align-items: center;
  justify-content: center;
}
main .enemies .enemy {
  background-image: url(img/Muffin-Boss.png);
  background-repeat: no-repeat;
  width: 160px;
  height: 160px;
}
main .enemies .enemy:hover {
  background-image: url(img/Muffin-Boss-Angry.png);
  transition: all 0.3s ease;
}
main .enemies .enemy-text {
  margin-left: 30px;
  text-align: center;
}
main .enemies .enemy-text h2 {
  margin-bottom: 10px;
}
main .enemies .enemy-text p {
  line-height: 25px;
}
main .area-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6%;
}
main .area-wrapper #area {
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}
main .area-wrapper #area .box {
  width: 100px;
  height: 100px;
  background-color: blanchedalmond;
  border: 2px solid black;
  box-sizing: border-box;
  font-size: 34px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s ease;
  border-radius: 5%;
  border-color: #42231e;
  border-width: 3px;
  box-shadow: 0px 1px 5px black;
}
main .area-wrapper #area .box:hover {
  background-color: #E0B179;
}
main .area-wrapper #area .box:active {
  background-color: #765C3D;
}

.thebuttons {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin-left: 375px;
  margin-top: 70px;
}

.switchers {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  max-width: 750px;
}
.switchers .lang-menu {
  position: relative;
}
.switchers .lang-menu .selected-lang {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 205px;
  cursor: pointer;
  padding: 15px;
}
.switchers .lang-menu .selected-lang:before {
  content: "";
  display: block;
  width: 49px;
  height: 32px;
  background-image: url(../img/Royal_Standard_of_England2.png);
  border-radius: 5%;
}
.switchers .lang-menu ul {
  flex-direction: column;
  position: absolute;
  bottom: -25px;
  left: 105px;
  margin: 0;
  padding: 0px;
  border: 2px solid black;
  border-radius: 5%;
  box-shadow: 0px 1px 5px black;
  display: none;
}
.switchers .lang-menu ul li {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.switchers .lang-menu ul li a {
  width: 140px;
  display: block;
  padding: 10px 10px;
  width: 100%;
  font-size: 1.17em;
}
.switchers .lang-menu ul li a:hover {
  background-color: #E0B179;
  transition: all 0.4s ease;
}
.switchers .lang-menu ul li a:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
  width: 49px;
  height: 32px;
  background-image: url(./img/Royal_Standard_of_England2.png);
  border-radius: 5%;
}
.switchers .lang-menu ul li .ru:before {
  background-image: url(./img/Flag_of_the_Russian_Empire2.png);
}
.switchers .lang-menu ul li .ch:before {
  background-image: url(./img/Flag_of_China2.png);
}
.switchers .lang-menu ul li .en:before {
  background-image: url(./img/Royal_Standard_of_England2.png);
}
.switchers .lang-menu ul li .ch {
  font-family: "Noto Sans SC", black;
  font-size: 20px;
}
.switchers .lang-menu:hover ul {
  display: block;
}
.switchers .sound {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 160px;
  cursor: pointer;
  padding: 15px;
}
.switchers .sound .sound-img:before {
  content: "";
  display: block;
  width: 49px;
  height: 32px;
  background-image: url(./img/sound-on.png);
  border-radius: 5%;
}/*# sourceMappingURL=style.css.map */